/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
public/css
public/images
public/js
public/vendor
tests/.reports
.php_cs.cache
storage/testing.sqlite
.idea/
