<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Package">
            <directory suffix="Test.php">./tests/Unit</directory>
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/.reports/coverage/clover.xml"/>
        <log type="coverage-html" target="tests/.reports/coverage" />
        <log type="testdox-text" target="tests/.reports/testdox/executed.txt"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:dDnKDk0sJHymckQEFkgTPjNP6mTdpbHcnaMW7wKbPFc="/>
        <env name="DB_CONNECTION" value="sqlite_testing" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SQUARE_ACCESS_TOKEN" value="EAAAEO4a3YaMEUyfLWMJA9EMPp5ZdIr2nUliMCG28hAAjcNTfooTw0NVC-EOT36d"/>
        <env name="SQUARE_APP_ID" value="sandbox-sq0idb-XpOEfx_tSDS3oIDPuf9Tqw"/>
        <env name="SQUARE_APP_SECRET" value="sandbox-sq0csb-97eMZwHAinUbZnK_SJcFRV_sk8iMSOng8n5W8Vmvgqw"/>
        <env name="SQUARE_ENVIRONMENT" value="sandbox"/>
        <env name="LOG_CHANNEL" value="test"/>
    </php>
</phpunit>
