// Body
$body-bg: #F2E6DB;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #9fcebb;
$primarydark: #508c85;
$secondary: #d0883d;
$accent: #888888;
$error: #d94545;
$info: #2196F3;
$success: #71b179;
$warning: #f9ad36;

@import '~fresh-bus-sass/variables';
