
.icon-venues:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-trucks:before { content: '\e802'; } /* '' */
.icon-reports:before { content: '\e803'; } /* '' */
.icon-financial:before { content: '\e804'; } /* '' */
.icon-events:before { content: '\e805'; } /* '' */
.icon-dashboard:before { content: '\e806'; } /* '' */
.icon-companies:before { content: '\e807'; } /* '' */